@media (max-width: 1024px) {
    .header-container {
        padding: 30px 30px;
    }
}



@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .nav-list {
        gap: 20px;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .features, .bonus-cards {
        flex-direction: column;
    }

    .feature, .bonus-card {
        margin-bottom: 30px;
    }

    .game-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .logo {
        margin-bottom: 10px;
    }

    .header-container {
        padding: 20px 20px;
    }

    .header-container button {
        display: none;
    }

    .hero-content {
        padding: 10px 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .btn-large {
        padding: 12px 24px;
        font-size: 16px;
    }
}